<a href="https://colab.research.google.com/github/mailmepavanpatil/python_001/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

1. Find out all the types of error that we have encoutered  in our lectures and why?
Also include examles.

-------------case sensitive-------------

In [2]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter
print(Ten)

NameError: ignored

----------Reserved keywords---------------

In [3]:
print = "Hi there" # as a variable
type(print)

str

In [4]:
print("Hi there")

TypeError: ignored

In [5]:
print = 12 # as a variable
type(print)

int

In [6]:
print("Hi there")

TypeError: ignored

In [7]:
del print

---------User input-----------------

In [8]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Pavan
place: Bangalore
year_of_birth: 1990

TypeError: ignored

------Type Conversion-------------

float is not converting into integer

In [10]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 10.2

ValueError: ignored

In [11]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [12]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

2. Take input A and B and print ther sum, multiplication, div, square of the nos.

In [14]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

int(print(f"Sum of A and B = {A+B}"))

Enter value of A: 5
Enter value of B: 4
Sum of A and B = 54

TypeError: ignored

In [17]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

(print(f"Sum of A and B = {A+B}"))
(print(f"Multi of A and B = {A*B}"))
(print(f"Div of A and B = {A/B}"))
(print(f"Square of A and B = {A**2} and {B**2}"))

Enter value of A: 4
Enter value of B: 5
Sum of A and B = 9
Multi of A and B = 20
Div of A and B = 0.8
Square of A and B = 16 and 25

3. How maney reserved keywords are there and why we should not use them as a variable name.

Reserved words (also called keywords) are defined with predefined meaning and syntax in the language. These keywords have to be used to develop programming instructions. Reserved words can’t be used as identifiers for other programming elements like name of variable, function etc.

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

4. Create email ids with the user inputs in the following format
lastname.firstname@gmail.com

In [19]:
firstname = input("Enter first name : ")
lastname = input("Enter last name : ")
print(f"{lastname.firstname}@gmail.com")

Enter first name : pavan
Enter last name : patil

AttributeError: ignored

In [20]:
firstname = input("Enter first name : ")
lastname = input("Enter last name : ")
print(f"{lastname}.{firstname}@gmail.com")

Enter first name : pavan
Enter last name : patil
patil.pavan@gmail.com

5. Try to print the following lines -
  Hi I'm Sunny
  My address is 22\3
  I earn 20$ daily

# *I am unaable to print 22\3, can you please suggest how to print this.* 
Whereas I am able to print 22/3.

In [2]:
print("""
  Hi I'm Sunny
  My address is "22\3"
  I earn 20$ daily
""")

  Hi I'm Sunny
  My address is "22"
  I earn 20$ daily

In [3]:
print("""
  Hi I'm Sunny
  My address is "22/3"
  I earn 20$ daily
""")

  Hi I'm Sunny
  My address is "22/3"
  I earn 20$ daily

6. Take user input( name, address, DoB, etc) to fill a form for your college and create their email IDs

In [35]:
fname = input ("Enter first name: ")
lname = input ("Enter last name: ")
Address = input ("Enter Address: ")
DoB = int(input ("Enter DoB: "))
current_year= int(input("Enter current year: "))
age = (current_year) - (DoB)

print("XYZ College")
print(f"First name : {fname}")
print(f"Last name : {lname}")
print(f"Enter Address : {Address}")
print(f"DoB : {DoB}")
print(f"Age : {age}")
print (f"Your email id is {lname}.{fname}@gmail.com")

Enter first name: Pavan
Enter last name: Patil
Enter Address: Hi I'm Sunny My address is 22\3 I earn 20$ daily
Enter DoB: 1990
Enter current year: 2023
XYZ College
First name : Pavan
Last name : Patil
Enter Address : Hi I'm Sunny My address is 22\3 I earn 20$ daily
DoB : 1990
Age : 33
Your email id is Patil.Pavan@gmail.com

7. Convert the following -
  "22.4" into integer
  "22" into complex no.
  "False" into Complex no.

In [32]:
A = 22.4
print(f"data type before {type(A)}, vale of {A} ")
A= int(A)
print(f"data type after {type(A)}, vale of {A} ")
A= complex(A)
print(f"data type after {type(A)}, vale of {A} ")

data type before <class 'float'>, vale of 22.4
data type after <class 'int'>, vale of 22
data type after <class 'complex'>, vale of (22+0j)

In [34]:
A= False
print(f"data type before {type(A)}, vale of {A} ")
A= complex(A)
print(f"data type after {type(A)}, vale of {A} ")

data type before <class 'bool'>, vale of False
data type after <class 'complex'>, vale of 0j