<a href="https://colab.research.google.com/github/mailmepavanpatil/python_001/blob/main/Class_003_25th_sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Agenda
1. Variable Case sensitive
2. Reserved words in Python
3. Multi assignment of variables
4. User input
5. type casting | type conversion
6. memory block
7. Operators
  Logical
  Equality 
  Comparision
  Arithmitic
  Bitwise[Advanced classes]
  Operators for sets and dictoniries [Advanced classes]
8. string methods

#Variable Case sensitivivity

In [1]:
TEN = 10
ten = 20
# Ten and ten both are different in terms of lower and upper case

In [2]:
print(TEN)

10

In [3]:
ten

20

#Reserved words in Python

In [4]:
print("Hi there")

Hi there

In [5]:
print = "Hi There"

In [6]:
del print #  delete the variable

In [7]:
print("Hi there")

Hi there

In [8]:
del = "Hi there"

SyntaxError: ignored

#Multi assignment of variables

In [16]:
a, b, c, yes = 10, 20.2 , "Sunny", True

In [10]:
type(a)

int

In [17]:
type(b)

float

In [12]:
type(c)

str

In [18]:
type(b)

float

In [22]:
type(yes)

bool

In [20]:
a, b, c, yes = 10

TypeError: ignored

In [25]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [26]:
a, A, c, C = 10, 20.2 , "Sunny", True

In [27]:
print(a, A, c, C)

10 20.2 Sunny True

In [28]:
a=b=c=10

In [29]:
a,b,c

(10, 10, 10)

#Note : please try before asking

# User input

In [31]:
name = input("Enter your Name: ")
print(f"You have entered: {name}")

Enter your Name: 1234
You have entered: 1234

In [32]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"sum of A and B is: {A+B}")

Enter value of A: 3
Enter value of B: 4
sum of A and B is: 34

In [33]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 3
Enter value of B: 4
<class 'str'> <class 'str'>

In [43]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"sum of A and B is: {A+B}")

Enter value of A: 10
Enter value of B: 10.2

ValueError: ignored

In [35]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 3
Enter value of B: 4
<class 'int'> <class 'int'>

In [44]:
float(10)

10.0

In [53]:
# String to intiger
A = "50"
print(f"data type before: {type(A)}, value of A:  {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:  50
data type after: <class 'int'>, value of A: 50

In [52]:
# Float to intiger
A = 50.22
print(f"data type before: {type(A)}, value of A:  {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'float'>, value of A:  50.22
data type after: <class 'int'>, value of A:  50

In [54]:
# Intiger to Float
A = 50
print(f"data type before: {type(A)}, value of A:  {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'int'>, value of A:  50
data type after: <class 'float'>, value of A:  50.0

In [55]:
# Intiger to boolean
A = 10
print(f"data type before: {type(A)}, value of A:  {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'int'>, value of A:  10
data type after: <class 'bool'>, value of A:  True

In [58]:
# Intiger to boolean
A = -5
print(f"data type before: {type(A)}, value of A:  {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'int'>, value of A:  -5
data type after: <class 'bool'>, value of A:  True

In [62]:
# String to boolean
A = "False"
print(f"data type before: {type(A)}, value of A:  {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'str'>, value of A:  False
data type after: <class 'bool'>, value of A:  True

In [60]:
# boolean to string
A = True
print(f"data type before: {type(A)}, value of A:  {A}")
A = str(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'bool'>, value of A:  True
data type after: <class 'str'>, value of A:  True

In [65]:
# String to boolean
A = "2+3j "
print(f"data type before: {type(A)}, value of A:  {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'str'>, value of A:  2+3j
data type after: <class 'bool'>, value of A:  True

In [67]:
# empty String to integer
A = ""
print(f"data type before: {type(A)}, value of A:  {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A:  {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

#Memory block

In [1]:
a=22
b=34
c=22

In [2]:
id(a) #Memory addres

9793760

In [3]:
id(c)

9793760

In [4]:
id(b)

9794144

In [5]:
c=22 + b

In [6]:
id(c)

9794848

In [7]:
a = 22
id(a)

9793760

In [8]:
a = 23
id(a)

9793792

Memory is assigned

In [15]:
a="P"
b=34
c="P"
print(id(a), id(b), id(c))

139660869516272 9794144 139660869516272

In [19]:
a=22
b=34
c=22
print(id(a), id(b), id(c))

9793760 9794144 9793760

# Assignments
## send the mail to 
TO query@ineuron.ai
CC sunny@ineuron.ai, rishav@ineauron.ai
Subject: [Bootcamp 2.0 | Assignment No.1]: 
1. Find out all the types of error that we have encoutered  in our lectures and why?
Also include examles.
2. Take input A and B and print ther sum, multiplication, div, square of the nos.
3. How maney reserved keywords are there and why we should not use them as a variable name.
4. Create email ids with the user inputs in the following format
lastname.firstname@gmail.com
5. Try to print the following lines -
  Hi I'm Sunny
  My address is 22\3
  I earn 20$ daily
6. Take user input( name, address, DoB, etc) to fill a form for your college and create their email IDs
7. Convert the following -
  "22.4" into integer
  "22" into complex no.
  "False" into Complex no.